.carouselContainer {
  max-width: 1500px;
  margin: auto;
  height: 500px;
  display: flex; }
  .carouselContainer .imgDiv img {
    height: 150px;
    width: 158px; }
  .carouselContainer .CarouselControlPrevious {
    position: absolute;
    margin-left: -15%; }
  .carouselContainer .CarouselControlNext {
    position: absolute;
    margin-right: -13%; }
  .carouselContainer .CarouselItemContainer {
    background-color: whitesmoke;
    position: relative;
    width: 180px;
    padding: 11px; }
  .carouselContainer .ButtonContainer {
    display: inline-block; }
    .carouselContainer .ButtonContainer button {
      line-height: 0.6; }

.AppNavbarContainer {
  width: 100%;
  max-width: none;
  padding: 0;
  background: rgba(0, 0, 0, 0.3); }
  .AppNavbarContainer a {
    color: whitesmoke;
    text-decoration: none; }

.fade-enter {
  opacity: 0.01; }

.fade-enter-active {
  opacity: 1;
  transition: opacity 1000ms ease-in; }

.fade-exit {
  opacity: 1; }

.fade-exit-active {
  opacity: 0.01;
  transition: opacity 1000ms ease-in; }

body {
  background: url("../img/bgmovian.jpg") no-repeat;
  background-size: cover; }
