.HeaderMenu {
    margin: 0;
    padding: 0;
    background: rgba(0, 0, 0, .1);
    display: flex;
    justify-content: flex-end;
}

a {
    text-decoration: none;
    color: #bed8d1;
    font-weight: bold;
    font-size: 24px;
    margin-right: 20px;
}

a:hover {
    text-decoration: none;
    color: #ffffff;
    border-bottom: 1px solid orangered;
    font-weight: bold;
    font-size: 24px;
}

.firstNavLink {
    position: fixed;
    left: 10px;
}

