.modal-dialog {
  max-width: 900px;
  width: 100%;
}

.parentContentContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@keyframes to-right {
  from {
    opacity: 0;
    margin-left: -500px;
  }
  to {
    opacity: 1;
    margin-left: 0;
  }
}

.modal-content {
  border-radius: 15px;

  .secondDivModal {
    display: flex;

    .contentDiv {
      margin: 0 20px;
      width: 100%;
      .spanYear{
        animation: to-right 0.9s ease-out;
      }
      .spanDescription{
        animation: to-right 0.9s ease-out;
        max-width: 500px;
      }
      .spanActor{
        animation: to-right 0.9s ease-out;
      }
      .spanButton{
        animation: to-right 0.9s ease-out;
      }
    }

    .modal-header {
      padding-left: 0;
      margin-bottom: 10px;
      animation: to-right 0.5s ease-out alternate;
    }

    .imgDiv {
      margin-top: -10%;
      margin-left: -6%;
      z-index: 10;

      img {
        border-radius: 7px;
        width: 300px;
        height: 480px;
      }
    }
  }

  .VideoContainer {
    width: 100%;
  }

  .react-player {
    width: 860px;
  }
}


.reactPlayerCont {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .4);
  position: absolute;
  z-index: 99999;
  top: 0;
  left: 0;

  .react-player {
    max-width: 1090px;
    max-height: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

