.divContainer {
  max-width: 1500px;
  margin: 100px auto;
  display: flex;
  flex-wrap: wrap;
  .films-list {
    display: flex;
    flex-wrap: wrap;
  }
  .imgDiv {
    cursor: pointer;
    img {
      height: 190px;
      width: 160px;
    }
  }
  .md-5 {
    background: #343a40;
  }

  .mt-4 {
    width: 160px;
    height: auto;
    margin: 10px;
    padding: 0;
    box-shadow: 8px 10px 10px /*rgba(0,0,0, .7)*/#343a40;
    position: relative;
    background-color: whitesmoke;
    //border: 1px solid #383b43;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .ButtonContainer {
    display: inline-block;
    button {
      width: 70px;
      padding: 4px;
      line-height: 0.6;
    }
  }
}





