.divContainer {
  max-width: 1600px;
  margin: 100px auto;
  position: relative;
  z-index: 10;
  padding: 0 50px 0 50px;
  .films-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .imgDiv {
    cursor: pointer;
    img {
      height: 220px;
      width: 160px;
    }
  }
  .md-5 {
    background: #343a40;
  }

  .divFilmItem {
    width: 160px;
    height: auto;
    margin: 20px;
    padding: 0;
    box-shadow: 8px 10px 10px /*rgba(0,0,0, .7)*/#343a40;
    position: relative;
    background-color: whitesmoke;
    border: 1px solid #383b43;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .ButtonContainer {
    display: inline-block;
    button {
      width: 70px;
      padding: 4px;
      line-height: 0.6;
    }
  }

}







