.carouselContainer {
  max-width: 1500px;
  margin: auto;
  height: 500px;
  display: flex;

  .imgDiv {
    img {
      height: 150px;
      width: 158px;
    }
  }

  .CarouselControlPrevious {
    position: absolute;
    margin-left: -15%;
  }

  .CarouselControlNext {
    position: absolute;
    margin-right: -13%;
  }

  .CarouselItemContainer {
    background-color: whitesmoke;
    position: relative;
    width: 180px;
    padding: 11px;
  }
  .ButtonContainer {
    display: inline-block;
    button {
      line-height: 0.6;
    }
  }
}
