.pagination {
  position: relative;
  margin: 20px;
  padding: 0;
  display: flex;
  justify-content: center;
  column-gap: 2px;

  button {
    padding: 5px 10px;
    margin: 3px;
    box-shadow: 3px 3px 10px #343a40;
    //&:hover {
    //  //background: #343a40;
    //  color: white;
    //  button {
    //    color: white;
    //    background: rgba(0, 0, 0, 0);
    //  }
    //}
  }
  .active {
    //background: #343a40;
    color: white;
  }
  button {
    cursor: pointer;
  }
}