.HomePage {
    margin: 0;
    padding: 10px;
}

.contentPage {
    border: 1px solid black;
    box-shadow: 2px 2px 2px 2px whitesmoke;
    margin-bottom: 10px;
    height: 200px;
    padding: 20px;
}